.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}
.login-container {
  width: 30%;
  /* Độ rộng của container */
  margin: 0 auto;
  /* Để căn giữa theo chiều ngang */
  display: block;
  align-self: center;
  /* căng giữa theo chiều dọc */

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  /* Căn giữa tiêu đề */
  margin-bottom: 20px;
  /* Khoảng cách dưới tiêu đề */
}

.login-container form {
  display: flex;
  flex: 1;
  flex-direction: column;
}


.login-container input {
  box-sizing: border-box;
  flex: 1;/* Input chiếm hết phần còn lại của div */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;

}

.login-container button {
  width: 100%;
  /* Độ rộng của button */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  /* Màu chữ của thông báo lỗi */
  margin-top: 10px;
  /* Khoảng cách giữa input và thông báo lỗi */
  text-align: center;
  /* Căn giữa thông báo lỗi */
}